[user]
    email = ether@cpan.org
    name = Karen Etheridge
[color]
    diff = auto
    status = auto
    branch = auto
        interactive = auto
        ui = true
[color "diff"]
[push]
    default = upstream
[rebase]
    autostash = true
[branch]
    autosetupmerge = true
    autosetuprebase = always
[diff]
        algorithm = patience
;[column]
;        branch = auto
[core]
    excludesfile = /Users/ether/.gitexclude
    # indent-with-non-tab omitted - it makes diffs look ugly
    whitespace = space-before-tab,tab-in-indent,trailing-space

[alias]
    git = !git
    pr = pull --rebase
    rc = rebase --continue
    wip = stash save --keep-index 'wip'
    fetchall = fetch --all --prune
    squash = commit -m'squash'

; for automatic translation of URLs
[url "git@github.com:"]
    insteadOf = https://github.com/
    insteadOf = git://github.com/

[url "p5sagit@git.shadowcat.co.uk:"]
    insteadOf = git://git.shadowcat.co.uk/p5sagit/

[url "gitmo@git.moose.perl.org:"]
    insteadOf = git://git.moose.perl.org/

[url "catagits@git.shadowcat.co.uk:"]
    insteadOf = git://git.shadowcat.co.uk/catagits/

[url "dbsrgits@git.shadowcat.co.uk:"]
    insteadOf = git://git.shadowcat.co.uk/dbsrgits/

; see https://gist.github.com/piscisaureus/3342247
#[remote "origin"]
#    fetch = +refs/pull/*/head:refs/remotes/origin/pr/*
