; vim: set ts=4 sw=4 sts=4 tw=78 noet nolist :
; this file is install/generic/configs/.gitconfig

[include]
;	path = ~/git/misc/install/generic/configs/.gitconfig -- this file!
	; this file is NEVER committed to git, as it could contain credentials or
	; machine-specific configurations.
	path = ~/git/misc/install/generic/configs/.gitconfig.local

[user]
	name = Karen Etheridge
	useConfigOnly = true	; don't try to guess creds if missing
	email = ether@cpan.org
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
[color "diff"]
[push]
	default = upstream
	; default = simple
[merge]
	renamelimit = 1658
	ff = false
	conflictstyle = diff3
[rebase]
	autostash = true
	missingCommitsCheck = warn
	stat = true
	autoSquash = true
[pull]
	autostash = true
[branch]
	autosetupmerge = true
	autosetuprebase = always
[rerere]
	enabled = true
	autoupdate = true
[gc]
	rerereUnresolved = 2	; prune unresolved conflicts older than N days; default 15
	rerereResolved = 14		; prune resolved conflicts older than N days; default 60
[diff]
	algorithm = histogram	; a bit better than patience
	compactionHeuristic = true
	indentHeuristic = true
[diff "gz"]
	textconv = zcat
	cachetextconv = true
	binary = true
[diff "zip"]
	textconv = unzip -c -a

;[column]
;	branch = auto

[core]
	excludesfile = ~/.gitexclude
	# indent-with-non-tab omitted - it makes diffs look ugly
	whitespace = space-before-tab,tab-in-indent,trailing-space
	attributesfile = ~/.gitattributes
	# not needed if we are at git 2.30.2
	# symlinks = false # https://github.blog/2021-03-09-git-clone-vulnerability-announced/

[interactive]
	singlekey = true

[log]
	date = iso8601
	follow = true	; as if we did 'git log --follow', when just one file

[pager]
	log = less -G '+/^([*] )?commit '
	logone = less

[github]
	user = karenetheridge
	# see also .gitconfig.local
[ghi]
	token = !security find-internet-password -a karenetheridge -s github.com -l 'ghi token' -w

[alias]
	rc = rebase --continue
	wip = stash save --keep-index 'wip'
	fetchall = fetch --all --tags --prune
	squash = commit -m"squash! $@"	# see also "sq" and "fixup" shell functions
	deltag = "!git push --delete origin tag $1; git tag -d $1"
	delbranch = push origin --delete
	m = merge --no-ff
	mff = merge --ff-only
	uhub = hub --remote upstream
	rebasemaster = !git rebase -i $(git merge-base master HEAD)
	log = log --notes --pretty=fuller
; XXX FIXME - I want tags in bright yellow, branches in bright red
	logone = log --graph --oneline --decorate --date=short --pretty=format:'%C(yellow)%h %Cred%ad %Cblue%an%C(red bold)%d %Creset%s'
	reflogs = reflog --notes --pretty='%cd %h %gd %gs'
	stashes = stash list --pretty='%cd %h %gd %gs'
	; from http://stackoverflow.com/questions/3065650/whats-the-simplest-way-to-git-a-list-of-conflicted-files
	conf = diff --name-only --diff-filter=U
	cherry-pick = cherry-pick --ff
	git = !git		# turns "git git @_" into "git @_", or "git @_" -> "@_"
	branchname = rev-parse --abbrev-ref HEAD
	addconf = !git add $(git conf)
	; from https://peter.eisentraut.org/blog/2014/11/04/checking-whitespace-with-git/
	check-whitespace = !git diff-tree --check $(git hash-object -t tree /dev/null) HEAD
	; from http://durdn.com/blog/2012/11/22/must-have-git-aliases-advanced-examples/
	ls-aliases = !git config -l | grep alias | cut -c 7-
	pull-url = "!echo $(git remote get-url --push origin | perl -p -e's{^(?:git@|https?//)([^:/]*)[:/](.+?)(\\.git)?$}{https://$1/$2/pull/new/}')$(git branchname)"
	pr = "!git push --force-with-lease -u origin $(git branchname); open $(git pull-url)"
	# files that changed in the commit
	df = !sh -c 'git diff-tree --no-commit-id --name-only -r "${1-HEAD}"'
	pushf = push --force-with-lease
	chp = checkout -p
	upsub = "!git submodule update --init --recursive $*; git submodule update --remote $*"

; for automatic translation of URLs
[url "git@github.com:"]
	insteadOf = http://github.com/
	insteadOf = https://github.com/
	insteadOf = git://github.com/

[url "p5sagit@git.shadowcat.co.uk:"]
	insteadOf = git://git.shadowcat.co.uk/p5sagit/
	insteadOf = git://git.shadowcat.co.uk:p5sagit/

[url "gitmo@git.shadowcat.co.uk:"]
	insteadOf = git://git.shadowcat.co.uk/gitmo/
	insteadOf = git://git.shadowcat.co.uk:gitmo/
	insteadOf = git://git.moose.perl.org/

[url "catagits@git.shadowcat.co.uk:"]
	insteadOf = git://git.shadowcat.co.uk/catagits/
	insteadOf = git://git.shadowcat.co.uk:catagits/

[url "dbsrgits@git.shadowcat.co.uk:"]
	insteadOf = git://git.shadowcat.co.uk/dbsrgits/
	insteadOf = git://git.shadowcat.co.uk:dbsrgits/

[url "scpubgit@git.shadowcat.co.uk:"]
	insteadOf = git://git.shadowcat.co.uk/scpubgit/
	insteadOf = git://git.shadowcat.co.uk:scpubgit/

; from https://gist.github.com/piscisaureus/3342247
; copy one of these to your .git/config as needed
;[remote "origin"]
;	fetch = +refs/pull/*/head:refs/remotes/origin/pull/*
;[remote "upstream"]
;	fetch = +refs/pull/*/head:refs/remotes/upstream/pull/*
