[user]
	email = ether@cpan.org
	name = Karen Etheridge
[color]
	diff = auto
	status = auto
	branch = auto
        interactive = auto
        ui = true
[color "diff"]
[push]
	default = upstream
[branch]
	autosetupmerge = true
	autosetuprebase = always
;[column]
;        branch = auto
[core]
	excludesfile = /Users/ether/.gitexclude

