[user]
	email = ether@cpan.org
	name = Karen Etheridge
[color]
	diff = auto
	status = auto
	branch = auto
        interactive = auto
        ui = true
[color "diff"]
[push]
	default = upstream
[rebase]
        autostash = true
[branch]
	autosetupmerge = true
	autosetuprebase = always
[diff]
        algorithm = patience
;[column]
;        branch = auto

; see doc/howto/gitflow.txt
[gitflow "branch"]
        master = production
        develop = trunk
[gitflow "prefix"]
        feature = feature/
        release = staging/
        hotfix = hotfix/
        support = support/
        cepatch = cepatch/
        versiontag = release

[core]
	excludesfile = /Users/ether/.gitexclude

; for automatic translation of URLs
[url "git@github.com:"]
    insteadOf = https://github.com/
    insteadOf = git://github.com/

[url "p5sagit@git.shadowcat.co.uk:"]
    insteadOf = git://git.shadowcat.co.uk/p5sagit/

[url "gitmo@git.moose.perl.org:"]
    insteadOf = git://git.moose.perl.org/

[url "catagits@git.shadowcat.co.uk:"]
    insteadOf = git://git.shadowcat.co.uk/catagits/

[url "dbsrgits@git.shadowcat.co.uk:"]
    insteadOf = git://git.shadowcat.co.uk/dbsrgits/
