; vim: set ts=4 sw=4 sts=4 tw=78 noet :
; this file is install/jaeger/configs/.gitconfig

[include]
	path = ~/git/misc/install/generic/configs/.gitconfig
	path = ~/git/misc/install/jaeger/configs/.gitconfig.local

[user]
	email = ether@cpan.org

; from https://gist.github.com/piscisaureus/3342247
; copy one of these to your .git/config as needed
;[remote "origin"]
;	fetch = +refs/pull/*/head:refs/remotes/origin/pull/*
; this seems to work again too:
;	fetch = +refs/pull/*/head:refs/remotes/origin/pr/*
;[remote "upstream"]
;	fetch = +refs/pull/*/head:refs/remotes/upstream/pull/*
