; vim: set ts=8 sw=8 sts=8 tw=78 noet :
[include]
	path = ~/git/misc/install/generic/configs/.gitconfig

; from https://gist.github.com/piscisaureus/3342247
; copy one of these to your .git/config as needed
;[remote "origin"]
;	fetch = +refs/pull/*/head:refs/remotes/origin/pr/*
;[remote "upstream"]
;	fetch = +refs/pull/*/head:refs/remotes/upstream/pr/*
