; vim: set ts=4 sw=4 sts=4 tw=78 noet :
[include]
	path = ~/git/misc/install/generic/configs/.gitconfig

[user]
	email = ketheridge@campusexplorer.com

; see doc/howto/gitflow.txt
[gitflow "branch"]
	master = production
	develop = trunk
[gitflow "prefix"]
	feature = feature/
	release = staging/
	hotfix = hotfix/
	support = support/
	cepatch = cepatch/
	versiontag = release

